// Grid de Tarjetas
@import 'variables';

.tarjeta-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 80rem;
    margin: 0 auto;
    justify-items: center;
}
