// Media Queries
@import 'variables';

// Pantallas chicas (móviles)
@media (max-width: 576px) {
    .navbar {
        .navbar-brand {
        font-size: 1.5rem;
        }

        .titulo-reseñas {
        font-size: 1.5rem;
        }
    }

    .tarjeta {
        width: 80%;
    }

    .tarjeta-grid {
        grid-template-columns: 1fr;
    }

    #carouselExample {
        img {
        height: auto;
        }
    }
}

  // Específico para el carrusel en pantallas medianas y grandes
@media (min-width: 577px) {
    #carouselExample {
        img {
        height: 400px;
        }
    }
}

  // Sección de mapa
@media (max-width: 768px) {
    .mapa iframe {
        width: 100%;
        height: 250px;
    }
}

@media (min-width: 769px) {
    .mapa iframe {
        width: 600px;
        height: 450px;
    }
}
